
      <h1>Hello, {{ title }}</h1>
      <p>Congratulations! Your app is running. 🎉</p>
   

      <h2>Fibonacci Calculations: {{numberOfCalculations}}</h2>


      <h2>factorial</h2>
    
<input #factorialInput type="number" placeholder="enter factorial number">
<button (click)="factorial(factorialInput.value)">Calculate factorial</button>
<h3>The result is: {{ factNum }}</h3>

<h2>fibonacci</h2>
<input #fibonacciInput type="number" placeholder="enter fibonacci number">
<button (click)="fibonacci(fibonacciInput.value)">Calculate fibonacci</button>
<h3>The result is: {{ fibNum }}</h3>


<h2>For loop</h2>

@for (str of strArr; track str){
  <li>{{str}}</li> 
}

<sv-additional></sv-additional>

<router-outlet></router-outlet>
